---
import Layout from '../layouts/Layout.astro'
import Status from '../components/Status.astro'
import MapAndTabs from '../components/MapAndTabs.astro'
import Card from '../components/Card.astro'
import { DataExchanges, DataExchangeFlags, DataExchangeHeadlines, DataExchangeOtherText } from '../DataExchange.js'
import DataIcon from '../components/icons/DataIcon.astro'
import KeyLabel from '../components/KeyLabel.astro'
import Footer from '../components/Footer.astro'
import slug from 'slug'
import CardSection from '../components/CardSection.astro'
import StatusBar from '../components/StatusBar.astro'

const items = DataExchanges
---
<Layout>
	<MapAndTabs countryCount={items.length} dpiType="data" />
	<StatusBar items={items} />
	<CardSection title="Data Exchange Systems">
		{ items.map(data => (
			<Card>
				<article>
					<header class="text-zinc-600 pb-2">
						<Status status={data['Status']} />
						<a class="ml-1 underline" href={`../${slug(data.Country)}`}>{data.Country}</a>
						<DataIcon class="inline float-right text-zinc-300"/>
					</header>
					<details>
						<summary>
							<span title="Name" class="font-semibold cursor-pointer">
								{data['Name']}
							</span>
							<dl>
							{ DataExchangeHeadlines.map(key => (
								<dt><KeyLabel>{key}</KeyLabel></dt>
								<dd class="truncate">{data[key]}</dd>
							))}
							</dl>
						</summary>
						<dl>
							{ DataExchangeOtherText.map(key => (
								<dt><KeyLabel>{key}</KeyLabel></dt>
								<dd>{data[key]}</dd>
							))}
						</dl>
						<dl class="py-2">
							{ DataExchangeFlags.map(key => (
								<div class="flex flex-row-reverse items-baseline justify-items-start ">
									<dt class="grow pl-2">
										<KeyLabel>{key}</KeyLabel></dt>
									<dd class="flex-none">
										<Status status={data[key]} />
									</dd>
								</div>
							))}
						</dl>
					</details>
				</article>
			</Card>
		))}
	</CardSection>
	<Footer />
</Layout>
