---
import Layout from '../layouts/Layout.astro'
import Status from '../components/Status.astro'
import MapAndTabs from '../components/MapAndTabs.astro'
import Card from '../components/Card.astro'
import { Payments, PaymentFlags, PaymentHeadlines, PaymentOtherText } from '../Payment.js'
import PaymentIcon from '../components/icons/PaymentIcon.astro'
import KeyLabel from '../components/KeyLabel.astro'
import Footer from '../components/Footer.astro'
import slug from 'slug'

const statusMap = {
	'Active': 4,
  'Plan': 2,
	'Unknown': 1
}
function statusCode (s: string) {
	return statusMap[s] ?? 0
}
const items = [...Payments].sort((a, b) => {
	const diff1 = statusCode(b['Status']) - statusCode(a['Status'])
	if (diff1 !== 0) return diff1
	return a.Country.localeCompare(b.Country)
})
const active = items.filter((row) => row['Status'] === 'Active')
const plan = items.filter((row) => row['Status'] === 'Plan')
const tbc = items.filter((row) => row['Status'] === 'Unknown')

---

<Layout>
	<MapAndTabs countryCount={items.length} dpiType="pay" />
  <div class="text-center align-middle text-mono text-sm">
    <div title="TBC" class="bg-gray-200 h-10 inline-block" style={{width: `${(tbc.length / items.length) * 100}%` }}>
    </div><div title="Plan" class="bg-blue-200 h-10 inline-block" style={{width: `${(plan.length / items.length) * 100}%` }}>
    </div><div title="Active" class="bg-green-200 h-10 inline-block" style={{width: `${(active.length / items.length) * 100}%` }}></div>
  </div>
	<section>
		<h2 class="pl-6 pt-2 pb-1 font-mono text-xs">
			Digital Payment Systems
		</h2>
		<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-stretch place-items-start">
		{ items.map(data => (
			<Card>
				<article>
					<header class="text-zinc-600 pb-2">
						<Status status={data['Status']} />
						<a class="ml-1 hover:underline" href={`../${slug(data.Country)}`}>{data.Country}</a>
						<PaymentIcon class="inline float-right text-zinc-400"/>
					</header>
					<details>
						<summary>
							<span title="Name" class="font-semibold cursor-pointer">
								{data['Name']}
							</span>
							<dl>
							{ PaymentHeadlines.map(key => (
								<dt><KeyLabel>{key}</KeyLabel></dt>
								<dd class="truncate">{data[key]}</dd>
							))}
							</dl>
						</summary>
						<dl>
							{ PaymentOtherText.map(key => (
								<dt><KeyLabel>{key}</KeyLabel></dt>
								<dd>{data[key]}</dd>
							))}
						</dl>
						<dl class="py-2">
							{ PaymentFlags.map(key => (
								<div class="flex flex-row-reverse items-baseline justify-items-start ">
									<dt class="grow pl-2">
										<KeyLabel>{key}</KeyLabel></dt>
									<dd class="flex-none">
										<Status status={data[key]} />
									</dd>
								</div>
							))}
						</dl>
					</details>
				</article>
			</Card>
		))}
		</div>
	<Footer />
</Layout>
