---
import Layout from '../layouts/Layout.astro'
import Status from '../components/Status.astro'
import YesNo from '../components/YesNo.astro'
import MapAndTabs from '../components/MapAndTabs.astro'
import Card from '../components/Card.astro'
import { Payments, PaymentFlags, PaymentHeadlines, PaymentOtherText } from '../Payment.js'
import PaymentIcon from '../components/icons/PaymentIcon.astro'
import KeyLabel from '../components/KeyLabel.astro'
import Footer from '../components/Footer.astro'
import slug from 'slug'
import CardSection from '../components/CardSection.astro'
import StatusBar from '../components/StatusBar.astro'

const items = Payments
---
<Layout>
	<MapAndTabs countryCount={items.length} dpiType="pay" />
  <StatusBar items={items} />
	<CardSection title="Digital Payment Systems">
		{ items.map(data => (
			<Card>
				<article>
					<header class="text-zinc-600 pb-2 border-b border-zinc-100 mb-2 flex items-center">
						<PaymentIcon class="flex-none text-zinc-300 "/>
						<a class="flex-grow px-1 hover:underline" href={`../${slug(data.Country)}`}>{data.Country}</a>
						<div class="flex-none"><Status status={data['DPI Status']} title='DPI status' /></div>
					</header>
					<details>
						<summary>
							<span title="Name" class="font-semibold cursor-pointer">
								{data['Name']}
							</span>
							<dl>
							{ PaymentHeadlines.map(key => (
								<dt><KeyLabel>{key}</KeyLabel></dt>
								<dd class="truncate">{data[key]}</dd>
							))}
							</dl>
						</summary>
						<dl>
							{ PaymentOtherText.map(key => (
								<dt><KeyLabel>{key}</KeyLabel></dt>
								<dd>{data[key]}</dd>
							))}
						</dl>
						<dl class="py-2">
							{ PaymentFlags.map(key => (
								<div class="flex flex-row-reverse items-baseline justify-items-start ">
									<dt class="grow pl-2">
										<KeyLabel>{key}</KeyLabel></dt>
									<dd class="flex-none">
										<YesNo status={data[key]} />
									</dd>
								</div>
							))}
						</dl>
					</details>
				</article>
			</Card>
		))}
	</CardSection>
	<Footer />
</Layout>
