---
import slug from 'slug'
import KeyLabel from '../components/KeyLabel.astro'
import { GoogleSpreadsheetRow } from 'google-spreadsheet'

const row: GoogleSpreadsheetRow = Astro.props.row
const idPrefix: string = Astro.props.idPrefix
const id = `${idPrefix}-${slug(row.get('Variable name'))}`
const codes:string = row.get('Codes explained') ?? ''
const re = /^\s*(?<key>[^=]+)=\s*(?<val>.*)$/gm
const kv = codes.matchAll(re)
---
{ row.get('Variable name') !== 'DPI based digital ID count for visualisation' && (
<div class="pt-15" id={id}>
  <header>
    <a class="font-bold text-lg m-0" href={`#${id}`}>
      {row.get('Variable name')}
    </a>
  </header>
  <div class="lg:flex mt-2">
    <div class="flex-3/4">
      <p class="mt-0">{row.get('Description')}</p>
      { codes.includes('=') && (
        <KeyLabel>Values</KeyLabel>
      )}
      { codes.includes('=') && kv.map(({groups: {key, val}}) => (<p><span class="font-bold">{key}</span> &ndash; {val}</p>))}
    </div>
    <div class="flex-1/4 flex lg:flex-col lg:border-l-2 border-zinc-100 lg:pl-4 lg:ml-4">
      <div class="mr-4">
        <KeyLabel class="inline">Scope</KeyLabel>
        <span class="text-sm">{row.get('System vs. subsystem level variable')}</span>
      </div>
      <div class="mr-4">
        <KeyLabel class="inline">Type</KeyLabel>
        <span class="text-sm">{row.get('Variable type')}</span>
      </div>
    </div>
  </div>
</div>
)}