---
const {status = '', title = 'Implementation status'} = Astro.props
---
{status === 'Active' &&
  <span title={title} class="inline border border-green-300 bg-green-200 px-1 text-xs rounded">{status}</span> }
{status === 'In Progress' &&
  <span title={title} class="inline border border-amber-300 bg-amber-200 px-1 text-xs rounded">WIP</span> }
{status === 'Proposed' &&
  <span title={title} class="inline border border-blue-300 bg-blue-200 px-1 text-xs rounded">Plan</span> }
{status === 'Inactive' &&
  <span title={title} class="inline border border-red-300 bg-red-200 px-1 text-xs rounded">Inactive</span> }

{status === 'Rollout' &&
  <span title={title} class="inline border border-green-300 bg-green-200 px-1 text-xs rounded">{status}</span> }
{status === 'Pilot' &&
  <span title={title} class="inline border border-amber-300 bg-amber-200 px-1 text-xs rounded">{status}</span>}
{status === 'Plan' &&
  <span title={title} class="inline border border-blue-300 bg-blue-200 px-1 text-xs rounded">{status}</span> }
{status === 'Unknown' &&
  <span title={title} class="inline border border-gray-300 bg-gray-200 px-1 text-xs rounded">TBC</span> }

{status === 'Yes' &&
  <span class="text-center inline-block border border-green-300 bg-green-200 px-1 text-xs rounded" style="width:33px">YES</span> }
{status === 'No' &&
  <span class="text-center inline-block border border-red-300 bg-red-200 px-1 text-xs rounded" style="width:33px">NO</span> }
