---
const { name, link, imgSrc, imgAlt = `Photo of ${name}` } = Astro.props
---

<figure class="bg-zinc-50 border border-zinc-100">
  <a href={link} class="block m-0 not-prose border-b border-zinc-200">
    <img src={imgSrc} alt={imgAlt} class="m-0"/>
  </a>
  <figcaption class="px-4 lg:px-3">
    <h3 class="mt-0">
      <a href={link} class="no-underline hover:underline">{name}</a>
    </h3>
    <div class="text-sm">
    <slot/>
    </div>
  </figcaption>
</figure>
